body {
  background: url("assets/jeep.jpg") no-repeat fixed 0 0 / cover;
  font-family: "Lato", sans-serif;
  color: white;
  text-align: center;
}

h1 {
  color: white;
  margin-top: 100px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  width: 50px;
  border-top: 2px solid #ccc;
  margin: 20px auto 25px auto;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  font-size: 24px;
  color: white;
  line-height: 118px;
  text-align: center;
  border: 2px solid white;
}

.circle-red {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(202, 12, 12, 0.3);
  font-size: 24px;
  color: white;
  line-height: 118px;
  text-align: center;
  border: 2px solid white;
}

.btn-info:hover {
  transform: scale(1.05);
}

.refresh {
  margin: 1.5rem;
}
